.container {
  width: 90%;
  max-width: 65rem;
  margin: 5rem auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  letter-spacing: 1rem;
  font-size: 3rem;
  color: var(--very-light-gray);
}

header button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.info{
  color: var(--dark-grayish-blue);
  font-weight: 700;
  margin: 12rem 0 5rem;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 578px){
  .info{
    margin: 5rem 0 0 0;
  }
}

@media (min-width: 768px){
  header h1{
    font-size: 4rem;
  }
}